[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
selenium = "*"
webdriver-manager = "*"
requests = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
